USE [master]
GO
/****** Object:  Database [OrdersDb]    Script Date: 1/23/2026 3:00:11 PM ******/
CREATE DATABASE [OrdersDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrdersDb', FILENAME = N'/var/opt/mssql/data/OrdersDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrdersDb_log', FILENAME = N'/var/opt/mssql/data/OrdersDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrdersDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrdersDb]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/23/2026 3:00:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Amount] [decimal](18, 0) NULL,
	[UpdatedAt] [datetime] NULL,
	[Address] [nvarchar](120) NULL,
 CONSTRAINT [PK__Orders__3214EC074B7D9DA5] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/23/2026 3:00:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [nchar](10) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Status] [nchar](24) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/23/2026 3:00:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Stock] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[Price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 1/23/2026 3:00:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ShipmentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nchar](24) NULL,
 CONSTRAINT [PK__Shipment__3214EC078F08B78E] PRIMARY KEY CLUSTERED 
(
	[ShipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderCode], [ProductId], [Quantity], [Status], [CreatedAt], [Amount], [UpdatedAt], [Address]) VALUES (1, N'ORD-1001', 1, 1, N'Completed', CAST(N'2026-01-22T23:20:24.837' AS DateTime), CAST(100 AS Decimal(18, 0)), CAST(N'2026-01-22T23:20:24.837' AS DateTime), N'yukon 135')
INSERT [dbo].[Orders] ([OrderId], [OrderCode], [ProductId], [Quantity], [Status], [CreatedAt], [Amount], [UpdatedAt], [Address]) VALUES (2, N'ORD-1002', 2, 2, N'Completed', CAST(N'2026-01-22T23:20:24.837' AS DateTime), CAST(300 AS Decimal(18, 0)), CAST(N'2026-01-22T23:20:24.837' AS DateTime), N'concordia 300')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Code], [Name], [Stock], [IsActive], [Price]) VALUES (1, N'P-1001', N'Laptop', 10, 1, CAST(100 AS Decimal(18, 0)))
INSERT [dbo].[Products] ([ProductId], [Code], [Name], [Stock], [IsActive], [Price]) VALUES (2, N'P-1002', N'Mouse', 50, 1, CAST(150 AS Decimal(18, 0)))
INSERT [dbo].[Products] ([ProductId], [Code], [Name], [Stock], [IsActive], [Price]) VALUES (3, N'P-1003', N'Keyboard', 30, 1, CAST(200 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([ShipmentId], [OrderId], [Address], [CreatedAt], [Status]) VALUES (1, 1, N'Av. Siempre Viva 123, Monterrey', NULL, NULL)
INSERT [dbo].[Shipments] ([ShipmentId], [OrderId], [Address], [CreatedAt], [Status]) VALUES (2, 2, N'Calle Falsa 456, Escobedo', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__CreatedA__398D8EEE]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_UpdateAt]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Shipments] ADD  CONSTRAINT [DF_Shipments_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Products] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Products]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Orders]
GO
USE [master]
GO
